<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Similar Audio Files</title>
</head>
<body>
    <script>
        function showDiv() {
            document.getElementById('loader').style.display = "block";
            setTimeout(function() {
                document.getElementById('loader').style.display = "none";
                document.getElementById('content').style.display = "block";
            }, 5000);
        }
    </script>
    <h1>Find Similar Audio Files</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <div class="input-container">
    <form action="#" class="form" method="post">
        <input class="input" placeholder='Describe your sound....'></input>
        <button class="generate-btn" id="generate" type="button" onclick="showDiv()"> Generate </button>
    </form>
    </div>
    <div class="loading" id="loader" style="display: none;">
        <h2> Generating </h2>
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div id="content" style="display: none;">
        {% if results %}
        <h2>Results:</h2>
        {% for file_name, file_path in results %}
            <h3>{{ file_name }}</h3>
            <audio controls>
                <source src="{{ file_path }}" type="audio/wav">
                Your browser does not support the audio tag.
            </audio>
        {% endfor %}
        {% endif %}
    </div>
</body>
</html>
